@model IEnumerable<ExpressVoitures.Models.Finition>

@{
    ViewData["Title"] = "Liste";
}

<h1>Liste des Finitions</h1>

<p>    
    <a asp-action="Create" class="btn btn-outline-primary btn-sm">Créer nouvelle Finition</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Modele.Marque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modele)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LibelleFinition)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Modele.Marque.LibelleMarque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modele.LibelleModele)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LibelleFinition)
            </td>            
            <td>                            
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info btn-sm">Consulter</a>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-secondary btn-sm">Editer</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger btn-sm">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
