@model ExpressVoitures.Models.Vehicule

@{
    ViewData["Title"] = "Créer";
}
<h1>Créer Voiture</h1>

@* <h4>Voiture</h4> *@
<hr />
<div class="row">
    <div class="col-md-4">
        @* FIX07 Image support add enctype="multipart/form-data" to form tag for file upload *@
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>            
            <div class="form-group">
                <label asp-for="Statut" class="control-label"></label> *
                @*FIX001.1 displays enum values list OLD ==> <select asp-for="Statut" class="form-control"></select>*@
                <select asp-for="Statut" class="form-control" asp-items="Html.GetEnumSelectList<VehiculeStatuts>()">                 
                </select>
                <span asp-validation-for="Statut" class="text-danger"></span>
            </div>                        
            <div class="form-group">
                <label asp-for="Vin" class="control-label"></label> *
                <input asp-for="Vin" class="form-control" />
                <span asp-validation-for="Vin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnneeVehicule" class="control-label"></label> *                
                @{
                    var myYear = ViewData["AnneeVehicule"];
                    if (myYear == null)
                    {
                        myYear = ViewData["AnneeMinimumVehicule"];
                    }                    
                    <input asp-for="AnneeVehicule" class="form-control" value="@myYear" />
                    <span asp-validation-for="AnneeVehicule" class="text-danger"></span>
                }                
            </div>
            <div class="form-group">
                <label asp-for="FinitionId" class="control-label"></label> *
                <select asp-for="FinitionId" class="form-control" asp-items="ViewBag.FinitionId">
                    <option value="0">Sélectionner...</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Information" class="control-label"></label>
                <input asp-for="Information" class="form-control" />
                <span asp-validation-for="Information" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateAchat" class="control-label"></label> *
                <input asp-for="DateAchat" class="form-control" />
                <span asp-validation-for="DateAchat" class="text-danger"></span>                
            </div>
            <div class="form-group">
                <label asp-for="DateMisEnVente" class="control-label"></label>
                <input asp-for="DateMisEnVente" class="form-control" />
                <span asp-validation-for="DateMisEnVente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateVente" class="control-label"></label>
                <input asp-for="DateVente" class="form-control" />
                <span asp-validation-for="DateVente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrixAchat" class="control-label"></label> *
                <input asp-for="PrixAchat" class="form-control" />
                <span asp-validation-for="PrixAchat" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label asp-for="Marge" class="control-label"></label>
                @{
                    var myMargis = ViewData["Marge"];
                    if (myMargis == null)                    
                    {
                        myMargis = ViewData["MargeMinimum"];
                    }
                    @* <input asp-for="Marge" class="form-control" value="@ViewBag.marge" /> *@
                    <input asp-for="Marge" class="form-control" value="@myMargis" />
                    <span asp-validation-for="Marge" class="text-danger"></span>
                }
            </div>            
            <div class="form-group">
                <label asp-for="PrixDeVente" class="control-label"></label>
                <input asp-for="PrixDeVente" class="form-control" />
                <span asp-validation-for="PrixDeVente" class="text-danger"></span>
            </div>                                  
            @* UPD13.5 create view image support*@
            <div class="form-group">
                <label asp-for="Image.File" class="control-label"></label>
                @if (ViewData["Image"] != null)
                {
                    Image myImage = (Image)ViewData["Image"];
                    <span>(<a target="_blank" href="@Url.Content($"~/{myImage.Path}")">@myImage.Name</a>)</span>
                }
                <input type="file" asp-for="Image.File" class="form-control" />
                <span asp-validation-for="Image.File" class="text-danger"></span>
            </div>            
            <div class="form-group">
                @{
                    var myActionToSale = (bool)ViewData["ActionEnVente"];
                    var myActionSold = (bool)ViewData["ActionVendu"];

                    if ((myActionToSale == false) || (myActionSold == false))
                    {
                        <input type="submit" value="Sauvegarder Voiture" class="btn btn-success btn-sm" />
                    }

                    if (myActionToSale == true)
                    {
                        if (Model.Id != null)
                        {
                            var myCarId = Model.Id;
                            <a asp-action="SetCarToSell" class="btn btn-warning btn-sm" asp-route-id="@myCarId">Mettre en vente</a>
                        }
                    }
                    if (myActionSold == true)
                    {
                        if (Model.Id != null)
                        {
                            var myCarId = Model.Id;
                            <a asp-action="SetCarSold" class="btn btn-warning btn-sm" asp-route-id="@myCarId">Vendu</a>
                        }
                    }
                }
                <a asp-action="Index" class="btn btn-outline-dark btn-sm">Retour à la liste des Voitures</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
