@* @System.Globalization.CultureInfo.CurrentUICulture *@
@model IEnumerable<ExpressVoitures.Models.Vehicule>
@*@using System.Security.Claims*@
@{
    ViewData["Title"] = "Accueil";
}

@*<h1>Liste des Voitures</h1>*@

<style>
    td{
      vertical-align:middle;      
    }
</style>

<p>
    @*UPD09.1 : check user connected with admin role for actions or informations in Views reserved for admin*@
    @if (User.IsInRole("Admin"))
    {        
        <a asp-action="Create" type="button" class="btn btn-outline-primary btn-sm">Créer une nouvelle Voiture</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AnneeVehicule)
            </th>
            <th>                
                Image
            </th>
            @* TD08 Vehicule index : add Marque et Modele*@
            <th>
                @Html.DisplayNameFor(model => model.Finition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Information)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrixDeVente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateMisEnVente)
            </th>
            @* TD09 Vehicule index : Statut & Vin for admin only*@
            @if (User.IsInRole("Admin"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.Statut)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Vin)
                </th>
            }
            @*
            <th>
                @Html.DisplayNameFor(model => model.DateAchat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrixAchat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MisEnVente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vendu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateVente)
            </th>
            *@                   
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>            
            <td>
                @Html.DisplayFor(modelItem => item.AnneeVehicule)
            </td>
            <td>
                @* UPD13.6 image support in index Vehicule*@
                @if (item.Image != null)
                {
                    <img src="@Url.Content(item.Image.Path)" width="96" height="96">
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Finition.LibelleFinition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Information)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrixDeVente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateMisEnVente)
            </td>
            @if (User.IsInRole("Admin"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Statut)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vin)
                </td>
            }
            @*
            <td>
                @Html.DisplayFor(modelItem => item.DateAchat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrixAchat)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.MisEnVente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vendu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateVente)
            </td>
            *@
            <td>
                @* TD10 Vehicule index, admin only : Editer & Supprimer actions *@
                @if (User.IsInRole("Admin")) 
                {
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info btn-sm">Détails</a>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-secondary btn-sm">Editer</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger btn-sm">Supprimer</a>
                }
                else
                {
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm">Détails</a>
                }                    
            </td>
        </tr>
        }
    </tbody>
</table>
