@model IEnumerable<ExpressVoitures.Models.Vehicule>
@*@using System.Security.Claims*@
@{
    ViewData["Title"] = "Accueil";
}

@*<h1>Liste des Voitures</h1>*@

<p>
    @*UPD09.1 : check user connected with admin role for actions or informations in Views reserved for admin*@
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Create">Créer une nouvelle Voiture</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            @* TD09 Vehicule index : Statut & Vin for admin only*@
            @if (User.IsInRole("Admin"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.Statut)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Vin)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.AnneeVehicule)
            </th>
            @* TD08 Vehicule index : add Marque et Modele*@
            <th>
                @Html.DisplayNameFor(model => model.Finition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Information)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrixDeVente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateMisEnVente)
            </th>         
            @*
            <th>
                @Html.DisplayNameFor(model => model.DateAchat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrixAchat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MisEnVente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vendu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateVente)
            </th>
            *@                   
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Photo)
            </td>
            @if (User.IsInRole("Admin"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Statut)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vin)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.AnneeVehicule)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Finition.LibelleFinition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Information)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrixDeVente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateMisEnVente)
            </td>
            @*
            <td>
                @Html.DisplayFor(modelItem => item.DateAchat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrixAchat)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.MisEnVente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vendu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateVente)
            </td>
            *@
            <td>
                @* TD10 Vehicule index, admin only : Editer & Supprimer actions *@
                @if (User.IsInRole("Admin")) 
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Editer |</a>
                    <a asp-action="Details" asp-route-id="@item.Id">Détails |</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
                }
                else
                {
                    <a asp-action="Details" asp-route-id="@item.Id">Détails</a>
                }                    
            </td>
        </tr>
        }
    </tbody>
</table>
