@*Display current culture info ==> @System.Globalization.CultureInfo.CurrentUICulture *@
@model IEnumerable<ExpressVoitures.Models.Vehicule>
@{
    ViewData["Title"] = "Accueil";
}

@*<h1>Liste des Voitures</h1>*@

<style>
    td{
      vertical-align:middle;      
    }
</style>

<p>    
    @if (User.IsInRole("Admin"))
    {        
        <a asp-action="Create" type="button" class="btn btn-outline-primary btn-sm">Créer une nouvelle Voiture</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AnneeVehicule)
            </th>            
             <th>
                Marque
            </th>
            <th>
                Modèle
            </th> 
            <th>
                @Html.DisplayNameFor(model => model.Finition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Information)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrixDeVente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateMisEnVente)
            </th>            
            @if (User.IsInRole("Admin"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.Statut)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Vin)
                </th>
            }
            <th>
                Image
            </th>                
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>            
            <td>
                @Html.DisplayFor(modelItem => item.AnneeVehicule)
            </td>
            <td>
                @if (item.Finition.Modele?.Marque != null)
                {
                    @Html.DisplayFor(modelItem => item.Finition.Modele.Marque.LibelleMarque)
                }
            </td>
            <td>
                @if (item.Finition.Modele != null)
                {
                    @Html.DisplayFor(modelItem => item.Finition.Modele.LibelleModele)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Finition.LibelleFinition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Information)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrixDeVente)
            </td>
            <td>
                @* @Html.DisplayFor(modelItem => item.DateMisEnVente) *@
                @Convert.ToDateTime(item.DateMisEnVente).ToString("dd/MM/yyyy")
            </td>
            @if (User.IsInRole("Admin"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Statut)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vin)
                </td>
            }
            <td>
                @* Vehicule image display.*@
                @if (item.Image != null)
                {
                    <img src="@Url.Content(item.Image.Path)" width="144" height="96">
                }               
            </td>
            <td class="form-group d-grid gap-2 col-6 mx-auto">                
                @if (User.IsInRole("Admin")) 
                {
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info btn-sm">Consulter</a>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-secondary btn-sm">Editer</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger btn-sm">Supprimer</a>
                }
                else
                {
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm">Consulter</a>
                }                    
            </td>
        </tr>
        }
    </tbody>
</table>
