@model IEnumerable<ExpressVoitures.Models.Marque>

@{
    ViewData["Title"] = "Liste";
}

<h3>Liste des Marques</h3>

<p>    
    <a asp-action="Create" class="btn btn-outline-primary btn-sm">Créer nouvelle Marque</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LibelleMarque)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LibelleMarque)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info btn-sm">Consulter</a>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-secondary btn-sm">Editer</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger btn-sm">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
